<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloMetal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2D0865E1E565B5100C41D71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2D086721E565B5100C41D71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2D0867D1E565B5100C41D71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
